<!DOCTYPE html>
<html>
  <head>
    <script src="//use.typekit.net/rdc1ssh.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <title>Jake Harris</title>

    <link rel='stylesheet' href='/styles/milieu.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
