<section>
  <div class="container">
    <div class="hexes">
      <div class="hex-row">
        <div class="hex"></div>
        <div class="hex-orange"></div>
        <div class="hex"></div>
        <div class="hex"></div>
      </div>
      <div class="hex-row hex-row--even">
        <div class="hex-orange"></div>
        <div class="hex"></div>
        <div class="hex-clear">
          <img class="logo" src="/images/logo-big.png">
        </div>
        <div class="hex"></div>
        <div class="hex-orange"></div>
      </div>
      <div class="hex-row">
        <div class="hex"></div>
        <div class="hex"></div>
        <div class="hex-orange"></div>
        <div class="hex"></div>
      </div>
    </div>
    <h1 class="text-center">JAVAKAT</h1>
    <p>
      Javakat is our last ditch effort to be the superheroes our
      younger selves believed us to be. It's a chance to take our
      hobbies and turn them into pedestals on which to display our
      names. It's our creativity interwoven with our grit.
    </p>
    <p class="text-center">
      It's us.
    </p>
  </div>
</section>

<section class="dark">
  <div class="container">
    <h1 class="text-center">WHAT WE ARE</h1>
    <ul>
      <li>A talent collective</li>
      <li>A network of "awake" people</li>
      <li>Talents in interactive media, hardware, and the arts</li>
      <li>A stamp of approval</li>
    </ul>
    <p>
      We're as much a badge as we are a group. Calling an app
      or product a Javakat product <em>means</em> something.
    </p>
  </div>
</section>

<section class="orange">
  <div class="container">
    <h1 class="text-center">OUR TENETS</h1>
    <div class="tenets">
      <div class="tenet innovation">
        <div class="tenet-hex"></div>
        <h2 class="text-center">INNOVATION</h2>
        <p></p>
      </div>
      <div class="tenet inspiration">
        <div class="tenet-hex"></div>
        <h2 class="text-center">INSPIRATION</h2>
        <p></p>
      </div>
      <div class="tenet impact">
        <div class="tenet-hex"></div>
        <h2 class="text-center">IMPACT</h2>
        <p></p>
      </div>
    </div>
    <p>
      In short, we make compelling works whose content will
      bring people together.
    </p>
  </div>
</section>

<section>
  <p class="text-center">
    Copyright <a href="http://github.com/javakat/">Jake Harris</a> 2015.
  </p>
</section>
