<section>
  <img class="media-center logo" src="/images/logo-big.png">
  <h1 class="text-center">JAVAKAT</h1>
</section>

<section>
  <p class="text-center">Lorem ipsum sic amet dolor.</p>
</section>
