<section>
  <div class="hexes">
    <div class="hex-row">
      <div class="hex"></div>
      <div class="hex-orange"></div>
      <div class="hex"></div>
      <div class="hex"></div>
    </div>
    <div class="hex-row hex-row--even">
      <div class="hex-orange"></div>
      <div class="hex"></div>
      <div class="hex-clear">
        <img class="logo" src="/images/logo-big.png">
      </div>
      <div class="hex"></div>
      <div class="hex-orange"></div>
    </div>
    <div class="hex-row">
      <div class="hex"></div>
      <div class="hex"></div>
      <div class="hex-orange"></div>
      <div class="hex"></div>
    </div>
  </div>
  <h1 class="text-center">JAVAKAT</h1>
  <p class="text-center">Lorem ipsum sic amet dolor.</p>
</section>

<section>
</section>
