
@import 'fonts';
@import 'variables';
@import 'mixins';

body {
  background: $warm-white;
  padding: 0; margin: 0;
  font-size: $copy-font-size;
  font-family: $copy-font-family;
  line-height: $copy-font-size * 1.618;
  color: $charcoal;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: $header-font-family;
}

a {
  outline: none;
  text-decoration: none;

  color: $orange;
}

section {
  min-height: $section-height;
  margin: 0 auto;
  padding-top: 3rem;
  &:first-of-type {
    padding-top: 0;

    h1 {
      margin-top: $logo-height * 1.5;
    }
  }
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  .logo {
    height: $logo-height;
    position: absolute;
    top: -12px;
  }
  .container {
    width: $content-width;
    margin: 0 auto;
    padding: 3rem;
    padding-top: 0;
  }
}

.dark {
  background: $charcoal;
  color: $warm-white;
}
.orange {
  background: $orange;
  color: $warm-white;
}

.media-center {
  display: block;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}

.hexes {
  display: block;

  margin: 0 auto;
  width: $content-width;

  padding-left: 3 * $hex-width / 2;
}

.hex-row {
  clear: left;
}
.hex-row--even {
  margin-left: -(($hex-width / 2) + 4);
}
// .hex {
//   display: inline-block;
// }
// .hex:before {
//   content: '\2b22';
//   font-family: Arial, serif;
//   font-size: 10rem;
//   padding: 0; margin: 0;
// }
// .hex-orange:before {
//   @extend .hex;
//   color: $orange;
// }
// .hex-clear:before {
//   @extend .hex;
//   color: transparent;
// }

.hex {
  @include hex($charcoal, $hex-width, $hex-height);
}
.hex-orange {
  @include hex($orange, $hex-width, $hex-height);
}
.hex-clear {
  @include hex(transparent, $logo-hex-width, $logo-height);
}
.hex-white {
  @include hex($warm-white, $hex-width, $hex-height);
}

.circle {
  @include circle($tenet-width);
  background: $warm-white;
}

.tenets {
  width: 100%;
  display: -webkit-flex;
  display:     -ms-flexbox;
  display:         flex;
  justify-content: space-around;
}
.tenet {
  width: 33%;
  flex-basis: 33%;
}
.tenet-hex {
  @include hex-by-width($warm-white, $tenet-width);
  float: none;
  position: relative;
  top: ($tenet-width * 120/104) / 8; //tenet-height / 4
  margin: 0 auto;
  margin-bottom: ($tenet-width * 120/104) / 2;
}
