<section class="input">
  
  <img src="/logo-big.png">

  <div class="cmd">
    <div class="cmd-frill"></div>
    <div class="cmd-antifrill"></div>
    <input type="text">
    <div class="cmd-frill"></div>
    <div class="cmd-antifrill"></div>
  </div>
  
</section>

<section class="output">
  <div class="content">
    <p>jkd v0.1</p>
    <p>Author: Jake Harris <a href="mailto:milieu@javakat.io">(milieu@javakat.io)</a></p>
    <p>Copyright 2014, under the Apache License.</p>
    <p>`man javakat` or `help` for general help.</p>
    <p>`man &lt;member&gt;` or `help &lt;member&gt;` for help about a particular collective member.</p>
    <p>`&lt;project name&gt;` to launch a project.</p>
  </div>
</section>