<section class="input">
  
  <img src="/logo-big.png">

  <div class="cmd">
    <div class="cmd-frill"></div>
    <div class="cmd-antifrill"></div>
    <input type="text">
    <div class="cmd-frill"></div>
    <div class="cmd-antifrill"></div>
  </div>
  
</section>

<section class="output">
  <div class="content">
    Lorem ipsum.
  </div>
</section>